################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.DS_Store
/.vs
.idea/
support/custom-check/node_modules/*
