<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="ICISArtifactsNuget" value="https://artifacts.cha.rbxd.ds/repository/nuget-hosted/" />
    <add key="nuget.org-Proxy" value="https://artifacts.cha.rbxd.ds/repository/nuget.org-proxy-v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
