<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Nuget Hosted" value="https://artifacts.cha.rbxd.ds/repository/nuget-hosted/" />
    <add key="Proxy" value="https://artifacts.cha.rbxd.ds/repository/nuget.org-proxy-v3/index.json" />
    <add key="Nuget Group" value="https://artifacts.cha.rbxd.ds/repository/nuget-group" />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
</configuration>