<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="ICISArtifactsNuget" value="https://artifacts.cha.rbxd.ds/repository/nuget-hosted/" />
    <add key="nuget.org-proxy" value="https://artifacts.cha.rbxd.ds/repository/nuget.org-proxy-v3/index.json" protocolVersion="3" />
  </packageSources>

  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org-proxy">
      <package pattern="*" />
    </packageSource>
    <packageSource key="ICISArtifactsNuget">
      <package pattern="Icis.*" />
      <package pattern="Subscriber.Auth" />
    </packageSource>
  </packageSourceMapping>
</configuration>
